﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p><a href="Cursoes/Index">Cadastro de cursos</a>.</p>
    <p><a href="Alunoes/Create">Inscrever-ser em um curso</a>.</p>
    <p><a href="Alunoes/Index">Ver inscrições</a>.</p>
</div>
