﻿@model IEnumerable<DesafioCubos.Models.Aluno>

@{
    ViewData["Title"] = "Erro";
}

<h1>O curso foi excluido ou ficou sem vagas durante a inscrição</h1>

<p>
    <a asp-action="Create">Nova inscrição</a>
</p>
